<ion-view view-title="Relatórios">
  <ion-content>
    <div class="center assertive-bg stable" ng-if="no_connection==true">
      <small>Sem conexão com Internet no momento.</small>
    </div>

    <div ng-show="editionsfilter" class="list stable-bg" style="margin-bottom:0px; padding-bottom:0px; border-bottom:0px">
      <a class="item item-icon-right" ng-click="showDiv = !showDiv">
        Mudar Edição
        <i class="icon ion-navicon-round"></i>
      </a>
    </div>
    <ul style="border-top:0px padding-top:0px !important;" class="list" ng-hide="!showDiv" ng-click="showDiv = !showDiv">
        <li class="item" ng-repeat="e in editionsfilter" ng-click="editionswitch(e.pk)">
          {{ e.number }}&ordf; Edição
        </li>
    </ul>

    <div class="padding" ng-if="is_authenticated=='true'">
      <div ng-repeat="e in editions">
        <h5 class="blue-text text-lighten-2 center">Relatórios de visitação da {{ e.edition_number}}&ordf; edição ({{ e.edition_year }})</h5>
        <div class="row header nopadding">
          <div class="col col-25">DATA</div>
          <div class="col">LOJ</div>
          <div class="col">REP</div>
          <div class="col">IMP</div>
          <div class="col">FOR</div>
          <div class="col">TOT</div>
        </div>
        <div class="" ng-repeat="line in e.data" ng-class="{'showdownloadbutton':$last}">
          <div class="row nopadding" style="clear:both">
            <div class="col col-25"><small>{{ line.date }}</small></div>
            <div class="col store-bg-color">{{ line.store }}</div>
            <div class="col brand-bg-color">{{ line.brand }}</div>
            <div class="col press-bg-color">{{ line.press }}</div>
            <div class="col foreign-bg-color">{{ line.foreign }}</div>
            <div class="col">{{ line.total }}</div>
          </div>
          <div class="row downloadavailable ">
            <div class="col col-25"><small></small></div>
            <div class="col store-bg-color center"><a ng-if="line.store>0" ng-click="export({{e.edition_pk}}, 'store')"><i class="icon icon-small ion-ios-download assertive"></i></a></div>
            <div class="col brand-bg-color center"><a ng-if="line.brand>0" ng-click="export({{e.edition_pk}}, 'brand')"><i class="icon icon-small ion-ios-download assertive"></i></a></div>
            <div class="col press-bg-color center"><a ng-if="line.press>0" ng-click="export({{e.edition_pk}}, 'press')"><i class="icon icon-small ion-ios-download assertive"></i></a></div>
            <div class="col foreign-bg-color center"><a ng-if="line.foreign>0" ng-click="export({{e.edition_pk}}, 'foreign')"><i class="icon icon-small ion-ios-download assertive"></i></a></div>
            <div class="col">&nbsp;</div>
          </div>
        </div>

      </div>

    </div>

    <div class="padding" ng-if="is_authenticated=='false'">
     
      <div class="center padding">
        <h3>Relatório não disponível</h3>
        Verifique sua conexão ou faça o login para exibição do relatório de visitantes.
        <br>
        <br>
        <a class="button button-dark" href="#/tab/login"><i class="icon ion-key"></i>&nbsp;&nbsp;Login</a>
      </span>
    </div>

  </div>


</ion-content>
</ion-view>
