<ion-view view-title="Detalhes do Visitante">
    <ion-content>
        <div class="center assertive-bg stable" ng-if="no_connection==true">
            <small>Sem conexão com Internet no momento.</small>
        </div>

        <div ng-repeat="i in list" class="padding">
                <div class="row ">
                  <div class="col col-20 borderless">
                    <i ng-if="i.visitorstore" class="icon ion-ios-contact icon-medium color-store"></i>
                    <i ng-if="i.visitorbrand" class="icon ion-ios-contact icon-medium color-brand"></i>
                    <i ng-if="i.visitorpress" class="icon ion-ios-contact icon-medium color-press"></i>
                    <i ng-if="i.visitorforeign" class="icon ion-ios-contact icon-medium color-foreign"></i>
                  </div>
                  <div class="col padding borderless">
                    <h3 class="lower">{{i.name}}</h3>
                    <div class="row" ng-if="i.email">
                        <i class="ion-ios-email-outline"></i>&nbsp;<a class="lower" ng-click="openurlsystem('mailto:{{ i.email }}')">{{ i.email }}</a>
                    </div>
                     &nbsp; 
                    <span ng-if="i.phone">
                        <i class="ion-iphone"></i>&nbsp;<a class="lower" ng-click="openurlsystem('tel:{{ i.phone }}')">{{ i.phone }}</a>
                    </span>
                  </div>
                </div>
                <hr>
                <div class="row padding">

                  <div class="col col-10 borderless" ng-if="i.visitorstore__company__tradingname"> <i class="icon ion-bag icon-small"></i></div> &nbsp;
                  <div class="col borderless"><h3 class="lower">{{i.visitorstore__company__tradingname}}</h3></div>
                  </div>
                <div class="padding-left">
                        <div class="row padding-left" ng-show="i.visitorstore__company__city">
                            <div class=""><i class="ion-home"></i> &nbsp; {{i.visitorstore__company__city}} {{ i.visitorstore__company__uf}}</div>
                        </div>
                        <div class="row padding-left" ng-show="i.visitorstore__company__phone">
                            <div class=""><i class="ion-iphone"></i> &nbsp; {{i.visitorstore__company__phone}}</div>
                        </div>
                        <div class="row padding-left" ng-show="i.visitorstore__company__email">
                            <div class=""><i class="ion-email"></i> &nbsp; <a ng-click="openurlsystem('mailto:{{ i.visitorstore__company__email }}')">{{i.visitorstore__company__email}}</a></div>
                        </div>

                        <div class="row padding-left" ng-show="i.visitorstore__company__site">
                            <div class=""><i class="ion-link"></i> &nbsp; <a ng-click="openurlsystem('{{ i.visitorstore__company__site }}')">{{i.visitorstore__company__site}}</a> </div>
                        </div>
                    </div>
                </div>
        </div>
    </ion-content>
</ion-view>
