<ion-view view-title="Login">
  <ion-content>
    <div class="center assertive-bg stable" ng-if="no_connection==true">
        <small>Sem conexão com Internet no momento.</small>
    </div>

    <div class="center" ng-if="is_authenticated=='true'">
    <div class="row">&nbsp;</div>
      <i class="icon ion-ios-contact icon-big"></i>
      <br>
        <small>{{ loggedEmail }}</small>
      </p>
      <a class="button button-assertive" ng-click="logout()">Logout</a>
    </div>

    <div class="padding" ng-if="is_authenticated=='false'">
      <div class=" item-text-wrap">
        <div class="list list-inset">
          <h2>SIGO - Login de Expositor</h2>
          <br>
          <label class="item item-input">
            <input type="text" placeholder="E-mail" ng-model="data.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Senha" ng-model="data.password">
          </label>
        </div>
        <button class="button button-block button-dark" ng-click="login()">Login</button>

        <div class="row">&nbsp;</div>
        <small>* Para recuperação de senha de acesso ou suporte enviar solicitação em <a ng-click="openurlsystem('http://grupoopera.com.br/contato/')">http://grupoopera.com.br/contato/</a> ou direto no balcão de credenciamento.</small>
        <br>
      </div>

    </div>


  </ion-content>
</ion-view>
