<ion-view view-title="Meus Visitantes">

  <ion-content>
    <div class="center assertive-bg stable" ng-if="no_connection==true">
      <small>Sem conexão com Internet no momento.</small>
    </div>

    <div class="center energized-bg dark padding" ng-if="unsynceditenswarning">
      <small>{{ unsynceditenstotal }} leitura(s) aguardando sincronização. Usuário não autenticado ou falha na conexão.</small>
    </div>

    <div class="card" ng-if="scan_registers == ''">
      <div class="item item-text-wrap">
        Nenhuma leitura ainda foi realizada. Clique no botão (+) para iniciar.
      </div>
    </div>


    <div class="padding " ng-show="wizardisfinished == 'true' && noresults_available_local && noresults_available_cloud">
      <div class="center padding">
        <h3>Listagem não disponível</h3>
        Clique no botão <i class="icon ion-android-add-circle assertive"></i> para iniciar a leitura de crachás 
        <span ng-show="!is_authenticated">
          ou faça o login para carregar sua lista de visitantes.
          <br>
          <br>
          <a class="button button-dark" href="#/tab/login"><i class="icon ion-key"></i>&nbsp;&nbsp;Login</a>
        </span>
      </div>
    </div>




    <div class="center padding energized-bg" ng-if="wizardisfinished == 'true' && no_connection==true">
      <small>Oops! Parece que estamos sem internet no momento. Mas não se preocupe! Todas suas leituras serão guardadas e sincronizadas ao encontrar uma conexão.</small>
    </div>


    <ion-list ng-if="wizardisfinished == 'true' && edition_visitors">
      <a class="item item-icon-left lower" href="#/tab/visitor/{{i.credenciamento__visitor__pk}}" ng-repeat="i in edition_visitors">
          <i ng-if="i.credenciamento__profile==1" class="icon ion-ios-contact color-store"></i>
          <i ng-if="i.credenciamento__profile==2" class="icon ion-ios-contact color-brand"></i>
          <i ng-if="i.credenciamento__profile==3" class="icon ion-ios-contact color-press"></i>
          <i ng-if="i.credenciamento__profile==4" class="icon ion-ios-contact color-foreign"></i>
          {{ i.credenciamento__visitor__name }}
        <span class="item-note ">
          {{ i.credenciamento__company__tradingname }}
        </span>
      </a>
    </ion-list>

    <div ng-show="wizardisfinished != 'true'" class="{{wizard_class}}">
      <div class="row royal-bg light">
        <div class="col">
          <div class="text-center">
            <i class="icon ion-help-circled icon-big"></i>
            <h4 class="light">Você sabia?</h4>
            <p>Ao realizar a leitura do crachá de um visitante durante a feira você terá acesso ao seu perfil completo além de <strong>Exportar</strong> e <strong>Compartilhar</strong> em formato <strong>Excel</strong>.</p> 
          </div>

        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="padding" style="padding-bottom:100px">  
        <h2>Começe agora:</h2>
        <br>
        <p>1. Clique no botão <i class="icon ion-android-add-circle assertive"></i> para abrir o leitor de crachá 
        </p>
        <p>2. Aponte a camera para o crachá do visitante (a leitura será feita automaticamente) 
        </p>
        <p>3. Faça <a ng-href="#/tab/login">login</a> com sua conta SIGO 
        </p>
        <p>4. Visualize ou exporte sua lista de visitações no menu Relatórios (<i class="icon ion-arrow-graph-up-right"></i>)
        </p>
        <br>
        <button class="button button-full button-dark" ng-click="finishwizard()">OK! JÁ ENTENDI!</button>

      </div>  
    </div>  



    <div ng-if="devmode==true" class="stable-bg padding">
      {{ statusMessage }}
      <div class="col dark-bg stable">
        Debug only
      </div>
      <h4>Registro manual (apenas em modo dev 'ionic serve')</h4>
      <div class="col"><input type="text" ng-model="$parent.$parent.data.visitorinputtest" placeholder="Crenciamento ID"></div>
      <div class="col"><button class="button" ng-click="insert_test()">inserir</button></div>
      <table>
        <tr>
          <td>credenciamento_id</td>
          <td>expositor_id</td>
          <td>date_added</td>
          <td>oncloud</td>
        </tr>
        <tr ng-repeat="i in $parent.dbdump">
          <td>{{i.credenciamento_id}}</td>
          <td>{{i.expositor_id}}</td>
          <td>{{i.date_added}}</td>
          <td>{{i.oncloud}}</td>
        </tr>
      </table>

      <a ng-click="synctocloud()" class="button">sync to cloud</a>
    </div>

<!--
      <input type="text" ng-model="data.visitorinputtest">
      <button class="button" ng-click="insert_test()">inserir</button>
    -->

  </ion-content>
  <ion-floating-button click="scan()" has-footer="false" button-color="red" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
</ion-view>
