/* Empty. Add your own CSS if you like */

.small {
  font-size: 14px;
  text-align: center;
}

#floating-button { bottom: 70px !important; }

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #222 !important; }

.center{
   text-align:center;
}

.numberCircle {
    border-radius: 5%;
    width: 200px;
    height: 200px;
    padding-top: 85px;
    font-size: 6rem;
    background: #fff;
    color: #666;
    text-align: center;
}

.icon-big {
    font-size: 7rem;
}

.icon-medium {
    font-size: 4rem;
}

.icon-small {
    font-size: 2rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

/*tables*/

.header .col {
    background-color:#1d1717;
    color: #eee;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col, .border-bottom {
    border-bottom: solid 1px grey;
}


.store-bg-color {
  background-color: #E8F5E9 !important; }

.brand-bg-color {
  background-color: #f3e5f5 !important; }

.press-bg-color {
  background-color: #fffde7 !important; }

.foreign-bg-color {
  background-color: #fff3e0 !important; }

.color-store {
    color: #08786c;
}

.color-brand {
    color: #521E71;
}
.color-press {
    color: #ffd300;
}
.color-foreign {
    color: #f16522;
}

.borderless { border:0px; }
.borderless:last-child { border-right: 0px }

.downloadavailable { display:none; }
.showdownloadbutton .downloadavailable { display:inline-flex; }
.nopadding {padding-bottom:0; padding-top:0}

